[toolchain]
anchor_version = "0.30.0"

[features]
seeds = false
skip-lint = false

[programs.localnet]
sovereign = "2UAZc1jj4QTSkgrC8U9d4a7EM9AQunxMvW5g7rX7Af9T"

[programs.devnet]
sovereign = "2UAZc1jj4QTSkgrC8U9d4a7EM9AQunxMvW5g7rX7Af9T"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
